
.vs/BO4E-dotnet/v16/.suo

.vs/BO4E-dotnet/v16/Server/sqlite3/db.lock

.vs/BO4E-dotnet/v16/Server/sqlite3/storage.ide

.vs/BO4E-dotnet/v16/Server/sqlite3/storage.ide-shm

.vs/BO4E-dotnet/v16/Server/sqlite3/


BO4E-dotnet/bin/Debug/

BO4ETestProject/obj/
BO4E-dotnet/obj/

BO4ETestProject/bin/
BO4E-dotnet/bin/
