.vs

BO4E-dotnet/bin/Debug/

BO4ETestProject/obj/
BO4E-dotnet.Encryption/obj/
BO4E-dotnet.Encryption/bin
BO4E-dotnet.Extensions/obj/
BO4E-dotnet.Extensions/bin
BO4E-dotnet.Reporting/bin
BO4E-dotnet.Reporting/obj
BO4E-dotnet/obj/

BO4ETestProject/bin/
BO4ETestProject/TestResults/
BO4E-dotnet/bin/

*.manifest

*.testlog

*.dll

*.pdb

*.cache

*.targets


*.CopyComplete
live/
TestBO4E-dotnet-Extensions/obj/
TestBO4E-dotnet-Encryption/obj/
TestBO4E-dotnet-Reporting/obj/


TestBO4E-dotnet-Encryption/bin
TestBO4E-dotnet-Encryption/TestResults
TestBO4E-dotnet-Extensions/bin
TestBO4E-dotnet-Extensions/TestResults
TestBO4E-dotnet-Reporting/bin
TestBO4E-dotnet-Reporting/TestResults/

.idea/.idea.BO4E-dotnet/.idea/

BO4E-dotnet.sln.DotSettings.user

BO4E/obj/

BO4E.Extensions/obj/

BO4E.Reporting/obj/

TestBO4E.Extensions/obj/

TestBO4E.Reporting/obj/
