name: Nuget package push from feature branch

on:
  push:
    branches:
      - "*"
      - "!develop"
      - "!master"
      - "!main"
jobs:
  pushfeature:
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
    steps:
      - name: Get current time
        uses: srfrnk/current-time@master
        id: current-time
        with:
          format: YYYYMMDDHHmmss
      - uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8
      - name: Build/Check for compile errors (dotnet build)
        run: dotnet build --configuration Release --version-suffix "${{github.sha}}"
      - name: Run Unit Tests (dotnet test)
        run: dotnet test --configuration Release
      - name: Create Package (dotnet pack)
        run: dotnet pack --configuration Release --version-suffix "${{github.sha}}"
      - name: Nuget push core
        run: |
          for f in /home/runner/work/BO4E-dotnet/BO4E-dotnet/BO4E/bin/Release/*.nupkg
          do
            curl -vX PUT -u "[user]:${{ secrets.GITHUB_TOKEN }}" -F package=@$f https://nuget.pkg.github.com/hochfrequenz/
          done
