name: csharpier

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - name: Restore .NET tools
        run: dotnet tool restore
      - name: Run CSharpier
        run: dotnet csharpier check .
